{% extends 'root.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
 <div>
    <h1>This is Sahin Alom</h1>
    <img src="{% static 'img/user-1.png' %}" width="30%">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nobis at voluptates earum laborum neque sed reiciendis, vero, ab deleniti et maxime doloremque, sunt fuga alias magni ut voluptatem a dignissimos mollitia sequi repellat dolorem id! Iste, autem quia, assumenda eligendi tempore praesentium impedit amet vero nisi voluptatum accusantium a commodi provident minima. Explicabo facilis nesciunt dolor dolore quas saepe voluptatibus porro minima, obcaecati quis quasi et, error veniam voluptate optio reprehenderit inventore. Temporibus cum neque provident sit facere facilis. Ea cumque alias odit repellat obcaecati laudantium, esse perferendis voluptas explicabo aperiam cupiditate dolor, eius mollitia fuga omnis aliquid iure.z</p>
    <button>Subscribe</button>
    <a href="/biker/">Go Biker site</a>
 </div>
{% endblock content %}